
html{
  background-color: #222;
  margin-top: 50px;
}

.container{
  display: block;
  width: 85%;
  margin: 0 auto;
  border-left: 3px solid #40c4ff;
  padding: 10px 15px;
  font-family: helvetica;
  background: #333;
  margin-top: 20px;
}
.endpoint{
  color: #40c4ff;
}
.endpoint a{
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #40c4ff
}
.endpoint a:visited,
.endpoint a:focus,{
  color:#40c4ff;
}
.description{
  color: #fff;
  margin: 0;
  margin-top: 10px;
}